<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<title>Homepage</title>
</head>

<body>
	<h3><center>Welcome {{user}}</center></h3>
	<h3><center><a href="{{ url_for('newstory') }}">Start a New Story!</a></center></h3>
	<table style= "width:100%">
		<tr>
			<th>Titles</th>
			<th>Authors</th>
		</tr>
		{% for x in dict%}
    	<tr>
			<td><a href={{ url_for('viewstory',storyid = x) }}>{{dict[x][0]}}</a></td>
			<td>{{dict[x][1]}}</td>
			
		</tr>
  		{% endfor %}
	</table>
	<br>
	<form action="/bye/" method = "POST" action="login.py">
		<center><input type= "submit" value= "Log Out"></center>
    </form>

</body>


</html>
