<!DOCTYPE html>
<html>

<head>
	<title>Update {{ title }}</title>
</head>

<body>
	<h2><center>{{ title }}</center></h2>
	<p><center>{{ latest_update }}</center></p>
	<br>
	<form action="/updated/{{sid}}" method = "POST" action="login.py">
	<center>
		<textarea rows="4" cols="50" name="update" placeholder = "Begin Updating..."></textarea>
	</center>
	<br>
	<center><input type= "submit" value= "Submit Update"></center>
	</form>
	<br>
	<form action="/bye/" method = "POST" action="login.py">
		<center><input type= "submit" formaction = "/bye/" value= "Log Out"></center>
    </form>

	<center>
	<br><br>
	<a href="/welcome/">Go back home!</a>
	</center>
</body>


</html>
