<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Update {{ title }}</title>
  </head>

  <body>
    <table style= "width:100%">
      <tr>
	<th>Titles</th>
	<th>Authors</th>
      </tr>
      {% for x in dict%}
      <tr>
	<td><a href={{  url_for('update',storyid = x)  }}>{{dict[x][0]}}</a></td>
	<td>{{dict[x][1]}}</td>
	
      </tr>
      {% endfor %}
    </table>

    <center>
      <br><br>
      <a href="/welcome/">Go back home!</a>
    </center>
  </body>


</html>
